# Core functionality - changes here should be rare!
/src/app.py                   @Nebra77
/src/backend/database.py      @Nebra77
/src/backend/routers/auth.py  @Nebra77

# The frontend will need refactored soon to be more object oriented.
/src/static/   @Nebra77
